<!--
O "index.html" torna possível a interação do usuário. Nele, cada linha da
calculadora é separada por <div>, facilitando a localização dos botões.

Cada arquivo de código possue suas responsabilidades e atribuições, facilitando
a organização do script e é de responsabilidade do arquivo HTML importar todas
as dependências e módulos externos do código para possibilitar a renderização e
execução da página sem que haja bugs.
-->

<!--
ISP: Interface Segregation Principle - Princípio da Segregação de Interfaces
Muitas interfaces específicas são melhores do que uma interface única geral.
-->

<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <title>ALMSolutions</title>
    
    <!-- Estilização da Página -->
    {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">
    
    <!-- Funções JavaScript responsáveis por executar os comandos da calculadora -->
    <script src="functions.js"></script>
</head>

<body>
    <div class="title">
        <span>SIMPLE CALCULATOR</span>
    </div>

    <div class="mycalc">
        <form name="calculator" id="calculator">
            <input type="text" name="inputwindow" id="inputwindow">
            <div>
                <input type="button" id="one" value="1" onclick="takeValue(document.getElementById('one').value)">
                <input type="button" id="two" value="2" onclick="takeValue(document.getElementById('two').value)">
                <input type="button" id="three" value="3" onclick="takeValue(document.getElementById('three').value)">
                <input type="button" id="plus" value="+" onclick="takeValue(document.getElementById('plus').value)">
            </div>
            <div>
                <input type="button" id="four" value="4" onclick="takeValue(document.getElementById('four').value)">
                <input type="button" id="five" value="5" onclick="takeValue(document.getElementById('five').value)">
                <input type="button" id="six" value="6" onclick="takeValue(document.getElementById('six').value)">
                <input type="button" id="minus" value="-" onclick="takeValue(document.getElementById('minus').value)">
            </div>
            <div>
                <input type="button" id="seven" value="7" onclick="takeValue(document.getElementById('seven').value)">
                <input type="button" id="eight" value="8" onclick="takeValue(document.getElementById('eight').value)">
                <input type="button" id="nine" value="9" onclick="takeValue(document.getElementById('nine').value)">
                <input type="button" id="by" value="*" onclick="takeValue(document.getElementById('by').value)">
            </div>
            <div>
                <input type="button" id="zero" value="0" onclick="takeValue(document.getElementById('zero').value)">
                <input type="button" id="decimal" value="." onclick="takeValue(document.getElementById('decimal').value)">
                <input type="button" id="devide" value="/" onclick="takeValue(document.getElementById('devide').value)">
                <input type="button" id="percent" value="%" onclick="takeValue(document.getElementById('percent').value)">	
            </div>
            <div class="results">
                <input type="button" id="equal" value="=" onclick="calculateResult()">
                <button type="button" id="clear" value="" onclick="clearInput(document.getElementById('clear').value)">Clear</button>
            </div>
    
        </form>	
    <!-- /div mycalc -->
    </div>
</body>

</html>